<launch>
	<node name="Arduino_1" pkg="movemaster_control" type="Arduino_1.py"/>
	<node name="Arduino_2" pkg="movemaster_control" type="Arduino_2.py"/>
	<node name="Arduino_3" pkg="movemaster_control" type="Arduino_3.py"/>

    <param name="robot_description" command="cat $(find movemaster_control)/src/movemaster_urdf.xml" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    <node name="state_publisher" pkg="movemaster_control" type="state_publisher" output="screen"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find movemaster_control)/rviz/display.rviz" />
</launch>
