<launch>

        <node name="Arduino_1" pkg="movemaster_control" type="Arduino_1.py"/>
	<node name="Arduino_2" pkg="movemaster_control" type="Arduino_2.py"/>
	<node name="Arduino_3" pkg="movemaster_control" type="Arduino_3.py"/>

        <param name="robot_description" command="cat $(find movemaster_control)/src/movemaster_urdf.xml" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <node name="state_publisher" pkg="movemaster_control" type="state_publisher" output="screen"/>
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find movemaster_control)/rviz/display.rviz" />

        <node name="simulate_status_real" pkg="movemaster_control" type="simulate_status_real" output="screen"/>

        <node name="hanoi_tf" pkg="movemaster_control" type="hanoi_tf" output="screen"/>

        <node name="usb_cam_node" pkg="usb_cam" type="usb_cam_node" output="screen"/>
        <!-- x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
        <!-- lembrando que a camera aponta no eixo Z -->
        <node pkg="tf" type="static_transform_publisher" name="usb_cam_tf" args="-0.09 -0.32 0.45 -1.2896 0 -2.0812 Base head_camera 10" />

</launch>
